$grey: #636e72;

* {
  box-sizing: border-box;
}
body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.container {
	max-width: 700px;
	margin: 0 auto;
}
.btn-search {
	margin: 6px 8px;
	padding: 8px 17px;
	background-color: #fff;
	color: $grey;
	font-size: 20px;
	text-align: center;
	border: 2px solid $grey;
	border-radius: 12px;
	cursor: pointer;
	transition: .2s ease;
	&:hover {
		background-color: $grey;
		color: #ffff;
	}
}
.input {
	height: 40px;
    border-radius: 12px;
    font-size: 16px;
}
.countries {
	list-style: none;
	padding: 0;
}
.country {
	width: 650px;
  	margin: 20px auto;
  	border: 1px solid $grey;
  	padding: 20px;
  	border-radius: 12px;
	&-header {
		display: block;
		margin-bottom: 15px;
	}
	&-header-flag img {
		width: 150px;
		border: 1px solid;
	}
	&-header-name {
		font-size: 35px;
		padding-left: 20px;
	}
	&-body-title {
		width: 160px;
		text-align: left;
		padding: 8px;
	}
	&-body-description {
		text-align: left;
	}
}
.position-wrapper {
	display: block;
	border-top: 1px solid $grey;
}